.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

section.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
  width: 70vw;
  gap: 10px;
}

section.container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

div.member {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 10vw;
  height: 10vh;
  background-color: var(--white-card);
  border-radius: 10px;
  color: var(--black-text);
}

div.check {
  border: 3px solid var(--pink-text);
  color: var(--pink-text);
}

h1.title {
  color: var(--black-text);
}
/* Mobile */
@media (max-width: 700px) {

}